.page-container{
    grid-template-rows: 130px 1fr 1fr 100px;
}
header{
    border-bottom: 1px solid rgb(223, 223, 223);
}
.navbar{
    grid-row-start: 1;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 20px;
}
.navbar a{
    position: relative;
    font-size: 0.8rem;
    margin: 0.8em;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
.home{
    position: absolute;
    left: 20px;
    width: max-content;
}
.home a{
    margin: 0;
}
.logo{
    width:74px;
    height:24px;
}
header h1{
    font-size: 20px;
    font-weight: normal;
    color:#d93025;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 45px;
}
section{
    padding-left: 40px;
    padding-top: 30px;
}
.find{
    grid-row-start: 2;
    border-bottom: 1px solid rgb(223, 223, 223);
}
#advanced-search-form{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 30px;
}
@media screen and (max-width: 627px) {
    #advanced-search-form{
        grid-template-columns: 1fr 2fr;
    }
}
@media screen and (max-width: 402px) {
    #advanced-search-form{
        grid-template-columns: 1fr;
    }
}
section h2{
    grid-column-start: 1;
    font-family: arial,sans-serif;
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
#advanced-search-form em{
    grid-column-start: 3;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bolder;
    color: #777;
    
}
#advanced-search-form small{
    grid-column-start: 3;
    font-size: 0.7rem;
    color: #666;
    padding-right: 10px;
}
@media screen and (max-width: 627px) {
    #advanced-search-form em, #advanced-search-form small{
        /* visibility: hidden; */
        display: none;
        grid-column-start: 2;
    }
}
@media screen and (max-width: 402px) {
    #advanced-search-form em, #advanced-search-form small{
        /* visibility: hidden; */
        display: none;
        grid-column-start: 2;
        
    }
}
.search-label{
    grid-column-start: 1;
    padding-top: 6px;
    font-size: 0.85rem;
}
.search-input{
    grid-column-start: 2;
    height: 26px;
    margin-bottom: 15px;
    margin-right: 15px;
}
@media screen and (max-width: 627px) {
    .search-input{
        margin-right:40px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 402px) {
    .search-input, .search-label{
        grid-column-start: 1;
        margin-left: 0px;
    }
}

.search-input:focus{
    outline: none;
}
.btn-area{
    display: flex;
    grid-column-start: 2;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
}
#submit{
    margin-bottom:30px;
    margin-right: 15px;
    background-color: #357ae8;
    color:#FFF;
    height: 30px;
    width: 132px;
    padding: 0px 10px;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-size: 0.75rem;
    font-weight:600;
    outline: 0;
    cursor: pointer;
}
@media screen and (max-width: 627px) {
    #submit{
        margin-right:40px;
    }
}
@media screen and (max-width: 402px) {
    .btn-area{
        grid-column-start: 1;
        /* margin-left: 0px; */
    }
}
.tips{
    grid-row-start: 3;
    margin-bottom: 20px;
}

.tips ul{
    list-style: none;
    padding:0px;
}
.tips a{
    text-decoration: none;
    font-size: 0.8rem;
}
.tips a:hover{
    text-decoration: underline;
}
footer{
    grid-row-start: 4;
}
.footer1, .footer2{
    background-color: rgb(242, 242, 242);
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.footer1 p, .footer2 a{
    margin-left: 40px;
}

footer a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}